@font-face {
  font-family: PressStart;
  src: url('PressStart2P-Regular.ttf');
}

body {
  color: white;
  background-color: #251B4B;
  font-family: PressStart;
  text-align: center;
  padding: 0px 200px;
}

.content {
  background-color: #160F2B;
  padding: 5px 50px;
  font-size: 15px;
  text-align: left;
  border: 2px solid black;
}

.feature {
  background-color: #0A0714;
  padding: 10px 50px;
  border: 2px solid #5E441E;
}

.feature:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  font-size: 10px;
  background-color: black;
  text-align: left;
  padding: 5px;
}

footer img {
  height: 25px;
  width: auto;
}

footer p {
  float: left;
  vertical-align: middle;
}

.socials {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}

/* Navbar Crap */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #13092D;
  font-family: PressStart;
  border: 2px solid black;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 11px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1C0D44;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3C237F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #BA9D56;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 